
.noichien a{
	position: relative;
	
	font-size: 26px;
	color: white;
	text-decoration: none;
	height: 49%;
	
	background-color: #a62424;

}
.noichien a:before{
	border-bottom: 15px solid #a62424;
    border-right: 10px solid  transparent;
    border-top: 0 solid #a62424;;
    border-left: 0;
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
   	
}
.noichien a:after {
    border-bottom: 0 solid #a62424;
    border-right: 10px solid transparent;
    border-top: 15px solid  #a62424;
    bottom: 0;
    content: '';
    position: absolute;
    right: -10px;

}
.noichiennen{
	margin: 10px 10px 20px 10px;
	background-color: #D7D5D5;

}
.dodung{
	
}

.xemthem{
	
	font-size: 40px;
	position: absolute;
	top: 90px;
	right: 10px;
	cursor: pointer;
	color: black;
}

.dodungnoichien1 a.xemthem{
	position: absolute;
	bottom: 500px;
	right: 20px;
	font-size: 40px;
	cursor: pointer;

}
.anhkep img{

	width: 49%;
	
}
.thuonghieu span img{
	width: 16%;
	
	border-radius: 6px;
	margin-right: -1px;
	transition: all 0.3s ease-in-out;
}
.thuonghieu span img:hover{
	transform: scale(1.1);
	transition: all 0.3 ease-in-out
}

#back_top{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 40px;
	right: 20px;
	background-color: #a62424;
	color: white;
	z-index: 1;
}
#scroll_top{
	font-weight: inherit;
	font-size: 17px;
}
.khung_search .chondanhmuc #scroll_top:hover{
	background-color: black ;
	color: #a62424;
}
.giatien {
	word-spacing: 150px;
	margin-left: 60px;
}
.giatien span:last-child{
	margin-left: 10px;
}
.sanpham{
	display: flex;
	width: 100%;
	
}
.sanpham .bg-sanpham{
	width: 20%;
	height: 340px;
	display: block;
	background-size: 20vw;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin-left: 15px;
	border-radius: 10px;
}

.sanpham1 .bg-sanpham{
	width: 25%;
	display: block;
	height: 300px;
	background-size: 23vw;
	position: relative;
	margin-right: 13px;
	border-radius: 10px;
	background-repeat: no-repeat;

}
.sanpham1{
	display: flex;
	margin-left: 20px;
}
.sanpham1 .tooltip{
	top: 36%;
}
.bg-sanpham .content-in-sanpham{
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.content-in-sanpham{
	display: block;
}
.search{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #a62424;
	height: 40px;
	width: 40px;
	border: 1px;
	border-radius: 20px;
	color: aliceblue;
	opacity: 0;
	text-align: center;
	
}
.search i{
	transform: translateY(70%);
}
.bg-sanpham:hover{
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	
	box-shadow: 0 1px 10px 0 grey;

	/* backdrop-filter: inherit; */
	
}
.bg-sanpham:hover .search{
	opacity: 1;
	
	transition: all 0.3s ease-in-out	;
}
.bg-sanpham:hover .cart{
	opacity: 1;
}

.bg-sanpham:hover .content-in-sanpham{
	display: none;
}
.cart{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #a62424;
	opacity: 0;
	border-radius: 5px ;
	padding: 0 5px;
	background-color: #a62424;
	
	
}
 .hover-search:hover .tooltip{
	opacity: 1;
}
.cart button{
	background-color: #a62424;
	color:white;
	border: 1px solid #a62424;
	outline:none;
	height: 22px;
	
}
.tooltip{
	position: absolute;
	left: 50%;
	top: 37%;
	transform: translate(-50%,-50%);
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	color: rgb(118, 119, 119);
	opacity: 0;

}
.overlay-sanpham{
	width: 100%;
	height: 100%;
	background-color: rgba(245, 243, 243, 0.3);
	display:none; 
	border-radius: 10px;
  }
  .bg-sanpham:hover .overlay-sanpham{
	display: block;
	transition: all 0.3 ease-in-out;
  }
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	background-color:white;
	position: absolute;
	left: 45%;
	
	bottom: -4px;
	
  }
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }
.value-product{
	display: none;
}
.content-in-sanpham p:nth-child(2){
	color: #a62424;
	font-size: 18px;
}
.content-in-sanpham p:nth-child(2)::after
{
	content: " ₫";
}