.timkiem ul li{
	list-style: none;
	cursor: pointer;
}
.timkiem ul li span label {
	cursor: pointer;
}
body{
	height: 2000px;
}
.timkiem {
	height: 500px ;
}
hr::before{
	content: "";
	position: absolute;
	background-color: red;
	height: 1px; width: 90px;
	

}
#pages{
	position: relative;
	left: 50%;

	margin: 0;
}
button.dot{
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius:20px ;
	text-align: center;
	background-color: white;
	opacity: 80%;
}
#isSelect{
	background-color: #a62424;
	color: white;
}
.item div:hover{
	transform: scale(1.1);
	opacity: 80%;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 20px 40px 0 #984646;
}
.sanphams .item{
	display: flex;
	padding: 0;
}
.sanphams .item div{
	
	text-align: center;
	font-size: 20px;
	border: 1px solid grey;
	padding: 20px 45px;
	
	margin-left: 10px;
	border-radius: 5px ;
	
	
}

.sanphams .item img{
	height: 170px;
	width: 120px;
	
}
.item div span{
	color: #a62424;
	font-style: italic;
}
.item div p{
	font-size: 18px;
}