.div_trai{
	width: 500px;
	height: 250px;
	
	float: left;
	position: absolute;
	left: +70px;
	top: +20px;
	border: 1px solid white;
	border-radius: 5px;
	border-bottom: none;
}
.div_phai{
	width: 500px;
	height: 250px;
	
	float: right;
	position: absolute;
	left: +700px;
	top: +20px;
	border: 1px solid white;
	border-radius: 5px;
	border-bottom: none;

}
.showroomnen{
	background-color: #DFDCDC;
	position: relative;
	height: 870px;
}
.vientrenshowroom{
	height: 15%;
	background-color:#f90;
	padding: 10px 0px 0px 10px;
	font-size: 14px;
	color: white;
	border-top: 1px solid #f90;
	border-bottom: 1px solid #f90;


}
.showroom-content{
	height: 85%;
	background-color: #FDF9F9;
	border: 0 1px 1px 1px solid white;	
	border-radius: 5px;
	padding: 10px 0 10px 10px ;
	font-weight: bold;
	opacity: 70%;
}
.div_thong_tin{
	width: 200px;
	height: 250;
	
	position: absolute;
	
	left: 70px;
	top: 350px;
	line-height: 50px;
	font-size: 12px;
	font-weight: bolder;
}
.div_chinh_sach{
	width: 200px;
	height: 250;
	
	position: absolute;
	
	left: 250px;
	top: 350px;
	line-height: 50px;
	font-size: 12px;
	font-weight: bolder;
}
.div_lien_he{
	width: 430px;
	height: 250;
	
	position: absolute;
	
	left: 450px;
	top: 350px;
	line-height: 50px;
	font-size: 12px;
	font-weight: bolder;
}
.div_fanpage{
	width: 430px;
	height: 250;
	
	position: absolute;
	
	left: 900px;
	top: 360px;
}
.div_lien_he span:hover{
	color:#a62424;;
	margin-left: +5px;
}
.div_chinh_sach span:hover{
	color:#a62424;;
	margin-left: +5px;
}
.div_thong_tin span:hover{
	color:#a62424;;
	margin-left: +5px;
}
.div_thong_tin span{
	transition: margin ease 0.5s;
}
.div_chinh_sach span{
	transition: margin ease 0.5s;
}
.div_lien_he span{
	transition: margin ease 0.5s;
}
