.div_trai{
	width: 500px;
	height: 250px;
	
	float: left;
	
	left: +70px;
	top: +20px;
	border: 1px solid white;
	border-radius: 5px;
	border-bottom: none;
	cursor: pointer;
}
.div_phai{
	width: 500px;
	height: 250px;
	
	float: left;
	
	left: +780px;
	top: +20px;
	border: 1px solid white;
	border-radius: 5px;
	border-bottom: none;
	cursor: pointer;

}
.showroomnen{
	background-color: #DFDCDC;
	position: relative;
	height: 870px;
	
}
.vientrenshowroom{
	height: 15%;
	background-color:#f90;
	padding: 10px 0px 0px 10px;
	font-size: 14px;
	color: white;
	border-top: 1px solid #f90;
	border-bottom: 1px solid #f90;


}
.showroom-content{
	height: 85%;
	background-color: #FDF9F9;
	border: 0 1px 1px 1px solid white;	
	border-radius: 5px;
	padding: 10px 0 10px 10px ;
	font-weight: bold;
	opacity: 70%;
}

.container-swap{
	display: flex;
	justify-content: space-evenly;
}
.swap-content{
	display: flex;
	width: 20vw;
	border: 1px solid rgb(201, 201, 201);
	text-align: center;
	height:80px;
	border-radius: 5px;
}
.swap-content .item-swap-content:first-child{
	width: 30%;
	font-size: 30px;
	padding-top: 12%;
}
.swap-content .item-swap-content:last-child{
	padding-top: 5%;
	font-size: 1.35vw;
}
.swap-content .item-swap-content:last-child p{
	font-size: 1.6vw;
	font-weight: bold;
}
.swap-content:hover{
	background-color: #a62424;
	color: white;
	cursor: pointer;
}
.logo{
	width:35px;
	height:35px;
	border: 1px solid;
	padding: 10px 0 0px 10px;
													
}
.logo img{
	width: 40px;
	height: 40px;
	margin-top: -8px;
	margin-left: -7px;
}
@media only screen and (max-width:800px){
	.access-fanpage p{
		display: none;
	}
	.access-fanpage button{ 
		width:40px;
		margin-top: +6px;
		height: 30px;

	}
	.access-fanpage button span{
		display: none;
	}
	.access-fanpage span{
		display: none;
	}
}
.information-footer{
	display: flex;
	padding-top: 5px;
	justify-content: space-evenly;
}
.information-footer .content-item{
	
	width: 20%;
}
.information-footer .content-item:first-child{
	margin-left: +2%;
}
.information-footer .content-item .title{
	font-size: 25px;
	font-weight: bold;
}
.information-footer .content-item .content p{
	line-height: 4vw;
	font-size: 16px;
}
.information-footer .content-item .fanpage{
	
	background-color: #ffffff;
	height: 47px;
	border: 1px solid;
	display: flex;
	padding: 2px;
}
.information-footer .content-item .fanpage .access-fanpage button{
	margin-left: 10%;
}	
