*{
    padding: 0;  /* dùng để full top trên không lộ khoảng trắng*/
    margin: 0;
    font-family: "Nunito", sans-serif;
}

header {
    
    height: px;
    background:white;  
    position: relative;    
}  
header img {
    margin-left: 170px;
    height: 90px;
    margin-top: 10px;
} 

section {
    width:100%;
    height: 670px;
    margin: 0 auto;
    background-color:#535353;
    float:left;
    display:flex;
    justify-content: center;
}
section img {
    
    padding-left: 100px;
    justify-content: center;
    
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin: 50px;
    margin-left: 75px;
    margin-top: 30px;
    
}
.dangnhap {
    padding: 40px 40px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    border-radius: 7px ; /* bo cong phần khung đăng nhập*/

}
.dangnhap-heading {
    font-size: 28px;
    color: black ;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
    
}
.sigup-social { /*button đăng nhập gg*/
    
    padding: 5px;
    border-radius: 7px;
    
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "nunito", sans-serif;
    background-color: #4c6ff4;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 10px 0px rgba(20, 32, 79, 0.5); /* phần bóng đen dưới button*/
}
.icon-google {
    width: 25px ;
    height:25px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c6ff4;
    padding: 10px 10px;
    
}
.sigup-social-text {
    display: block;
    margin: 0 auto;
    margin-left: 110px;
}
.sigup-social2 { /*button đăng nhập gg*/
    margin-top: 15px;
    margin-bottom:20px ;
    padding: 5px;
    border-radius: 7px;
    display: block;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    background-color: #4c6ff4;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 10px 0px rgba(20, 32, 79, 0.5); /* phần bóng đen dưới button*/
}
.icon-facebook{
    width: 25px ;
    height:25px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c6ff4;
    padding: 10px 10px;
    
}
.sigup-social2-text {
    display: block;
    margin: 0 auto;
    margin-left: 110px;
}

.dangnhap-label {
    font-size: 16px;
    color: #373941;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.input {
    
    display: block;
    width: 90%;
    padding: 25px;
    border-radius: 10px;
    background-color: #f5f2f3;
    outline: 1px solid; 
    border: 0;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    
    
}
.dangnhap-submit{
    border-radius: 10px;
   padding: 20px;
   color: white;
    font-size: 20px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    
    
    
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 5px 10px 0px rgba(5, 10, 46, 0.5); /* phần bóng đen dưới button*/
    margin-top: 15px;
    background: -webkit-linear-gradient(left,#f79533,#f37055,#ef4e7b,#a166ab);
}
.dangnhap-submit:hover {
    background: -webkit-linear-gradient(left,#5073b8,#1098ad,#07b39b,#6fba82);
}

  
.dangky:hover{
    color: red;
}

.dangky {
    text-decoration: none;
    font-size: 16px;
    color: #2979ff;
    text-align: center;
    margin-top: 35px;
    font-family: "Nunito", sans-serif;
   
}
.social-media{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0;
  }
  
.social-media ul{
    list-style: none;
  }
  
.social-media ul li{
    display: inline-block;
    cursor: pointer;
  }
  
.social-media img{
    width: 50px;
    height: 50px;
    padding-left: 129px;
    justify-content: center;
  }


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
.return-home{
    font-size: larger;
    color: white;
    text-decoration: none;
}
